.box-container {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: 0 auto;
  border: 1px solid black;
}

.box {
  border: 1px solid black;
  padding: 20px;
}

.box:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.blackBox {
  background-color: black;
}
