.box-container {
  display: flex;
  width: 960px;
  margin: 0 auto;
  justify-content: center;
}

.box {
  border: 1px solid black;
  padding: 10px;
}

.box:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.blackBox {
  background-color: black !important;
}
